body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
}
.header .header__logo {
  display: block;
  margin-left: 140px;
  margin: 15px 0 15px 140px;
  height: 40px;
}
.header .menu {
  font-size: 14px;
  margin-left: auto;
}
.header .menu .menu__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  margin-top: 26px;
}
.header .menu .menu__list .menu__item {
  margin-right: 20px;
}
.header .menu .menu__list .menu__item .menu__link {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}
.header .menu .menu__list .menu__item .material-icons {
  font-size: 24px;
  color: rgba(31, 32, 65, 0.5);
  margin-top: -2px;
}
.header .menu .menu__list .menu__item .menu__link_hover {
  text-decoration: none;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
.header .menu .menu__list .pre-icon {
  margin-right: 0;
}
.header .user {
  margin: auto 140px auto 0;
}
.header .user .user__button {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  line-height: 100%;
  border-radius: 22px;
}
.header .user .login {
  background: #fff;
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  padding: 9px 18px 10px 18px;
  margin-right: 20px;
}
.header .user .register {
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: #fff;
  padding: 11px 20px 11px 20px;
}