div(class="toggles-block")
    h3(class="font-h3 toggles-block__label") toggle
    div(class="toggles")
        div(class="toggle-block")
            div(class="toggle active" onclick="this.classList.toggle('active')")
                div(class="toggle__circle")
            p(class="toggle-block__text font-body") Получать спецпредложения
        div(class="toggle-block")
            div(class="toggle" onclick="this.classList.toggle('active')")
                div(class="toggle__circle")
            p(class="toggle-block__text font-body") Получать спецпредложения