div(class="pagination-block")
    h3(class="font-h3 pagination-block__label") radio buttons
    div(class="pagination")
        a(class="font-h3 pagination__selected" href="#") 1
        a(class="font-h3 pagination__link" href="#") 2
        a(class="font-h3 pagination__link" href="#") 3
        a(class="font-h3 pagination__link" href="#") ...
        a(class="font-h3 pagination__link" href="#") 15
        a(class="font-h3 pagination__next" href="#")
            p(class="material-icons") arrow_forward
    div(class="pagination-footer")
        p(class="font-body") 1 – 12 из 100+ вариантов аренды
