div(class="text-block")
    div(class="text-block__title")
        h3(class="font-h3") text field
        h3(class="font-h3 text-block__right-text") default
    input(type="text" class="text-field font-body" placeholder="Email")