.text-block{
    width:320px;
    &__title{ 
        display: flex;
        justify-content: space-between;
        margin-bottom:5px;
    }
    &__right-text {
        color: $Dark50;
        font-weight: normal;
    }
}



.text-field{
    width:100%;
    height: 44px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid $Dark25;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 13px 0 13px 15px;
    &::placeholder{color: $Dark25;}
    .font-body{
        line-height: 18px;
        color: $Dark25;
    }
    &:hover{
        border: 1px solid $Dark50;
        &::placeholder{
            color: $Dark75;
        }
    }
    &:focus{
        border: 1px solid $Dark50;
        &::placeholder{
            color: $Dark75;
        }
    }
    &_hover{
        border: 1px solid $Dark50;
        &::placeholder{
            color: $Dark75;
        }
    }
}
