.font-h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.font-h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
}

.font-h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
}

.font-body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: rgba(31, 32, 65, 0.75);
}

.body {
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-image: url(../img/ui-kit__logo.svg);
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
  background-color: #fff;
  width: 1440px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.colors-type {
  display: flex;
}

.colors-type__colors {
  margin: 145px 0 145px 150px;
}

.colors-type__fonts {
  margin: 145px 150px 0 auto;
}

.color__h2 {
  margin-left: 40px;
}

.color {
  display: flex;
  align-items: center;
  height: 70px;
}
.color .font-h2 {
  line-height: 29px;
}
.color__margin {
  margin-bottom: 20px;
}

.sqr {
  height: 70px;
  width: 70px;
  border-radius: 6px;
}

.drk-100 {
  background: #1f2041;
}
.drk-75 {
  background: rgba(31, 32, 65, 0.75);
}
.drk-50 {
  background: rgba(31, 32, 65, 0.5);
}
.drk-25 {
  background: rgba(31, 32, 65, 0.25);
}
.drk-5 {
  background: rgba(31, 32, 65, 0.05);
}

.purple {
  background: #BC9CFF;
}

.green {
  background: #6FCF97;
}

.font-block {
  display: flex;
}

.font-block__name {
  color: rgba(31, 32, 65, 0.25);
  margin-right: 30px;
}
.font-block__name_h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  margin-bottom: 81px;
  margin-top: 2px;
}
.font-block__name_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  margin-bottom: 74px;
}
.font-block__name_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.font-block__name_body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}

.font-block__font-margin {
  margin-bottom: 50px;
}

.not-bold {
  font-weight: normal;
}

.text-field {
  width: 320px;
  height: 44px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #FFFFFF;
  border-radius: 4px;
  padding: 13px 0 13px 15px;
}
.text-field::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.text-field::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.text-field .font-body {
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.text-field:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.text-field:hover::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.text-field:hover::placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.text-field:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.text-field:focus::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.text-field:focus::placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.text-field_hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.text-field_hover::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.text-field_hover::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.text-block {
  width: 320px;
}
.text-block__title {
  display: flex;
  justify-content: space-between;
}
.text-block__right-text {
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 8px;
  font-weight: normal;
}

.dropdown {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.dropdown :hover .dropdown__item {
  display: block;
}
.dropdown__list {
  list-style: none;
  padding: 10px 0 10px 15px;
}
.dropdown__item {
  display: none;
}
.dropdown__link {
  text-decoration: none;
  color: #000;
}

.form-elements {
  padding-top: 200px;
  padding-left: 140px;
  height: 1000px;
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-elements__checkbox {
  margin-bottom: 41px;
}
.form-elements__radioButton {
  margin-bottom: 37px;
}
.form-elements__toggle {
  margin-bottom: 45px;
}
.form-elements__like-button {
  margin-bottom: 40px;
}
.form-elements__range-slider {
  margin-bottom: 43px;
}

.checkbox-block {
  display: grid;
  grid-template-rows: 32px 32px 32px 1fr;
}
.checkbox-block__checkbox {
  display: grid;
  grid-template-columns: 30px 200px;
}
.checkbox-block__text {
  padding-top: 2px;
}
.checkbox-block .font-body {
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

.checkbox__main {
  display: none;
}
.checkbox__main:checked + .checkbox__fake::before {
  opacity: 1;
}
.checkbox__main:checked + .checkbox__fake {
  border: 1px solid #BC9CFF;
}
.checkbox__fake {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
.checkbox__fake::before {
  content: "";
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../img/checkbox.svg);
  opacity: 0;
  transition: 0.1s;
}

.radioButton-block {
  display: grid;
  grid-template-rows: 32px 1fr;
}
.radioButton-block__radioButtons {
  display: grid;
  grid-template-columns: 118px 1fr;
}

.radioButton__text {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-bottom: 2px;
  padding-top: 2px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.radioButton__text::before {
  left: 0px;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
}
.radioButton__text::after {
  left: 5px;
  top: 50%;
  content: "";
  position: absolute;
  transform: translate(0, -50%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: linear-gradient(#BC9CFF, #8BA4F9);
  opacity: 0;
  transition: 0.1s;
}
.radioButton__main {
  display: none;
}
.radioButton__main:checked + .radioButton__text::after {
  opacity: 1;
}
.radioButton__main:checked + .radioButton__text::before {
  border: 1px solid #BC9CFF;
}
.radioButton__main:checked + .radioButton__text {
  color: rgba(31, 32, 65, 0.75);
}

.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #fff;
  transition: all 300ms ease-in-out;
}
.toggle__circle {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  top: 4px;
  left: 4px;
  transition: all 30ms ease-in-out;
}
.toggle.active {
  border: 1px solid #BC9CFF;
}
.toggle.active .toggle__circle {
  margin-left: 20px;
  background: linear-gradient(#BC9CFF, #8BA4F9);
}

.toggle-block {
  display: flex;
  align-items: center;
}
.toggle-block__text {
  margin-left: 10px;
}

.toggles-block__label {
  margin-bottom: 16px;
}

.toggles {
  display: grid;
  grid-template-rows: 20px 20px;
  grid-row-gap: 14px;
}

.like-buttons {
  display: grid;
  grid-template-columns: 42px 42px;
  grid-column-gap: 10px;
}

.like-block__label {
  margin-bottom: 16px;
}

.like {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 11px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.like:hover {
  cursor: default;
}
.like.active {
  border: 1px solid #BC9CFF;
}
.like.active .like__font {
  color: #BC9CFF;
}
.like.active .material-icons {
  font-size: 10px;
  line-height: 9px;
  color: #BC9CFF;
}
.like__font {
  font-size: 10px;
  line-height: 12px;
  margin-left: 2px;
}
.like .material-icons {
  width: 20px;
  text-align: center;
  font-size: 10px;
  line-height: 9px;
  color: rgba(31, 32, 65, 0.25);
}

.rate-button {
  display: flex;
}
.rate-button:hover {
  cursor: default;
}
.rate-buttons {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-column-gap: 20px;
}
.rate-button .material-icons {
  font-size: 24px;
  line-height: 20px;
}
.rate-button__star {
  width: 24px;
  background: linear-gradient(#BC9CFF, #8BA4F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate-block__label {
  margin-bottom: 16px;
}

.range-slider-block {
  width: 266px;
}
.range-slider-block__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}
.range-slider-block__info {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}

.ui-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 30px;
  position: relative;
}
.ui-slider-range {
  position: absolute;
  height: 6px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.ui-slider-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  margin-left: -10px;
  outline: none;
}

.button {
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.button__bordered {
  height: 40px;
  width: 95px;
  background: #fff;
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
}
.button__bordered:hover {
  opacity: 0.5;
}
.button__filled {
  height: 44px;
  width: 99px;
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: #fff;
}
.button__filled:hover {
  opacity: 0.5;
}

.button-block__label {
  margin-bottom: 16px;
}

.buttons {
  display: grid;
  grid-template-columns: 99px 99px;
  grid-template-rows: 44px 44px;
  grid-column-gap: 19px;
  grid-row-gap: 30px;
  margin-bottom: 31px;
}

.hovered {
  opacity: 0.5;
}

.button_txt {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.gray-font {
  color: rgba(31, 32, 65, 0.5);
}

.purple-font {
  color: #BC9CFF;
}

.buttons_txt {
  width: 142px;
  display: flex;
  justify-content: space-between;
}

.buttons_txt__margin {
  margin-bottom: 30px;
}

.button_large {
  width: 320px;
  height: 44px;
  position: relative;
}
.button_large__button {
  position: absolute;
  width: 320px;
}
.button_large .button__filled:hover {
  opacity: 1;
}
.button_large__arrow {
  width: 44px;
  height: 44px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: -14px;
  margin-left: 276px;
  color: #fff;
}