.checkbox-block{
    &__checkbox{
        display: grid;
        grid-template-columns: 30px 300px;
        border: 1px solid #000;
    }
    &__text{
        padding-left: 9.74px;
    }
    &__label{
        padding-bottom: 16.56px;
    }
    .font-body{
        line-height: 18px;
        color: $Dark50;
    }
}
.checkbox{

    &__main{
        display: none;
        &:checked + .checkbox__fake::before{
            opacity: 1;
        }
        &:checked + .checkbox__fake{
            border: 1px solid $Purple;
        }
    }
    &__fake{
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        background-color: #fff;
        border: 1px solid $Dark25;
        border-radius: 4px;
        &::before{
            content:'';
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 10px;
            height: 10px;
            background-color: $Purple;
            opacity: 0;
            transition: 0.1s;
        }
    }
}
