div(class="checkbox-block")
    h3(class="font-h3 checkbox-block__label") checkbox buttons
    div(class="checkbox-block__checkbox")
        label(class="checkbox")
            input(type="checkbox" class="checkbox__main")
            span(class="checkbox__fake")
        p(class="checkbox-block__text font-body") Можно курить
    div(class="checkbox-block__checkbox")
        label(class="checkbox")
            input(type="checkbox" class="checkbox__main" checked)
            span(class="checkbox__fake")
        p(class="checkbox-block__text font-body") Можно с питомцами
    div(class="checkbox-block__checkbox")
        label(class="checkbox")
            input(type="checkbox" class="checkbox__main" checked)
            span(class="checkbox__fake")
        p(class="checkbox-block__text font-body") Можно пригласить гостей (до 10 человек)
        