div(class="radioButton-block")
    h3(class="font-h3 radioButton-block__label") radio buttons
    div(class="radioButton-block__radioButtons")
        div(class="radioButton-block__radioButton")
            label(class="radioButton")
                input(type="radio" class="radioButton__main" name="radio_1" checked)
                p(class="radioButton__text font-body") Мужчина
        div(class="radioButton-block__radioButton")
            label(class="radioButton")
                input(type="radio" class="radioButton__main" name="radio_1")
                p(class="radioButton__text font-body") Женщина