div(class="exp-checkbox-block")
    div(class="exp-checkbox-block__label")
        h3(class="font-h3") expandable checkbox list
        p(class="material-icons") expand_more
    div(class="exp-checkbox-block__list")
        div(class="checkbox-block__checkbox")
            label(class="checkbox")
                input(type="checkbox" class="checkbox__main")
                span(class="checkbox__fake")
            p(class="checkbox-block__text font-body") Завтрак
        div(class="checkbox-block__checkbox")
            label(class="checkbox")
                input(type="checkbox" class="checkbox__main" checked)
                span(class="checkbox__fake")
            p(class="checkbox-block__text font-body") Письменный стол    
        div(class="checkbox-block__checkbox")
            label(class="checkbox")
                input(type="checkbox" class="checkbox__main" checked)
                span(class="checkbox__fake")
            p(class="checkbox-block__text font-body") Стул для кормления
        div(class="checkbox-block__checkbox")
            label(class="checkbox")
                input(type="checkbox" class="checkbox__main" checked)
                span(class="checkbox__fake")
            p(class="checkbox-block__text font-body") Кроватка
        div(class="checkbox-block__checkbox")
            label(class="checkbox")
                input(type="checkbox" class="checkbox__main")
                span(class="checkbox__fake")
            p(class="checkbox-block__text font-body") Телевизор
        div(class="checkbox-block__checkbox")
            label(class="checkbox")
                input(type="checkbox" class="checkbox__main")
                span(class="checkbox__fake")
            p(class="checkbox-block__text font-body") Шампунь