div(class="bullet-list-block")
    h3(class="font-h3 bullet-list-block__label") bullet list
    div(class="bullet-list-block__list")
        div(class="bullet-list-block__item")
            div(class="bullet-list-block__marker")
            p(class="font-body bullet-list-block__text") Нельзя с питомцами
        div(class="bullet-list-block__item")
            div(class="bullet-list-block__marker") 
            p(class="font-body bullet-list-block__text") Без вечеринок и мероприятий
        div(class="bullet-list-block__item") 
            div(class="bullet-list-block__marker")
            p(class="font-body bullet-list-block__text") Время прибытия — после 13:00,<br>а выезд до 12:00