div(class="like-block")
    h3(class="font-h3 like-block__label") like button
    div(class="like-buttons")
        div(class="like")
            span(class="material-icons") favorite_border
            p(class="font-body like__font") 2
        div(class="like active")
            span(class="material-icons") favorite
            p(class="font-body like__font") 12