.like-buttons{
    display: grid;
    grid-template-columns: 42px 42px;
    grid-column-gap: 10px;
}
.like-block{
    &__label{
        margin-bottom: 16px;
    }
}
.like{
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 11px;
    border: 1px solid $Dark25;
    &:hover{
        cursor:default;
    }
    &.active{
        border: 1px solid $Purple;
        .like__font{
            color: $Purple;
        }
        .material-icons{
            font-size: 10px;
            line-height: 9px;
            color: $Purple;
        }
    }
    &__font{
        font-size: 10px;
        line-height: 12px;
        margin-left: 2px;
        
    }
    .material-icons{
        width: 20px;
        text-align: center;
        font-size: 10px;
        line-height: 9px;
        color: $Dark25;
    }
}