div(class="dropdown-block_date")
    div(class="text-block__title")
        h3(class="font-h3") date dropdown
    div(class="dropdown_date")
        p(class="font-body dropdown__label") ДД.ММ.ГГГГ
        div(class="expand-icon")
            p(class="material-icons") expand_more
    div(class="datepicker-block")        
        div(class="datepicker-item")
        a(class="button_txt purple-font font-h3" href="#") применить

