div(class="range-slider-block")
    div(class="range-slider-block__text")
        h3(class="font-h3 range-slider-block__label") range slider
        p(class="font-body range-slider-block__info") 5 000₽ - 10 000₽
    div(class="ui-slider")
script
    include range-slider.js
