doctype html
html(lang='ru')
	head
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap")
	body
		include header.pug

		include main.pug

		include footer.pug

		script(src="js/script.js")
		