header(class="header")
			img(class="header__logo", src="img/Logo.png")
			nav(class="menu")
				ul(class="menu__list")
					li(class="menu__item")
						a(class="menu__link_hover", href="#") Home
					li(class="menu__item")
						a(class="menu__link", href="#") About Us
					li(class="menu__item pre-icon")
						a(class="menu__link", href="#") Services
					li(class="menu__item icon")
						a(class="menu__link material-icons" href="#") expand_more
					li(class="menu__item")
						a(class="menu__link", href="#") Careers
					li(class="menu__item")
						a(class="menu__link", href="#") News
					li(class="menu__item")
						a(class="menu__link", href="#") Documentation
			div(class="user")
				input(type="button" class="user__button login" value="LOGIN")
				input(type="button" class="user__button register" value="REGISTER")