doctype html
html(lang='en')
	head
		link(rel="stylesheet" href="ui-kit/ui-kit.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap")
        body
            header
            main
                div(class="colors-type")
                    div(class="sqr")
                        div()

