.dropdown{
    &_ap{
        .dropdown__content{
            width:264px;
        }
        .dropdown-margin-bottom{
            margin-bottom:8px;
        }
    }
    &-block_ap{
        width:266px;
    }

}