div(class="text-block")
    div(class="text-block__title")
        h3(class="font-h3") dropdown
        h3(class="font-h3 text-block__right-text") default
    div(class="dropdown")
        div(class="dropdown__expand-button border-radius_all")
            p(class="font-body dropdown__label") Сколько гостей
            div(class="dropdown__expand-icon")
                p(class="material-icons") expand_more
        div(class="dropdown__content exp")
            div(class="dropdown__item")
                h3(class="font-h3 dropdown__label") Взрослые
                div(class="dropdown__button-block")
                    div(class="dropdown__button") -
                    h3(class="font-h3 dropdown__count") 0
                    div(class="dropdown__button") +
            div(class="dropdown__item")
                h3(class="font-h3 dropdown__label") Дети
                div(class="dropdown__button-block")
                    div(class="dropdown__button") -
                    h3(class="font-h3 dropdown__count") 0
                    div(class="dropdown__button") +
            div(class="dropdown__item")
                h3(class="font-h3 dropdown__label") Младенцы
                div(class="dropdown__button-block")
                    div(class="dropdown__button") -
                    h3(class="font-h3 dropdown__count") 0
                    div(class="dropdown__button") +
            div(class="dropdown__button-block__bottom flex-end")        
                div(class="dropdown__button_clear")
                    p(class="button_txt gray-font font-h3") очистить
                div(class="dropdown__button_enter")
                    p(class="button_txt purple-font font-h3") применить