@import 'vars';
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	max-width: 1440px;
	margin:auto;
	background: #E5E5E5;
}
@import 'vars';

@import 'header';

@import 'main';

@import 'footer';