div(class="hotel-feature")
    div(class="hotel-feature__item")
        h3(class="material-icons") insert_emoticon
        p(class="font-body hotel-feture__text") <span class="span">Комфорт</span><br>Шумопоглощающие стены
    div(class="hotel-feature__item")
        h3(class="material-icons") location_city
        p(class="font-body hotel-feture__text") <span class="span">Удобство</span><br>Окно в каждой из спален