div(class="text-block")
    div(class="text-block__title")
        h3(class="font-h3") masked text field
        h3(class="font-h3 text-block__right-text") default
    input(type="text" class="text-field font-body" data-mask="00.00.0000" placeholder="ДД.ММ.ГГГГ")
script
    include jquery.mask.min.js