div(class="dropdown")
    ul(class="dropdown__list font-body") Сколько гостей
        li(class="dropdown__item dropdown__item_frst")
            a(class="dropdown__link" href="#") 1
        li(class="dropdown__item")
            a(class="dropdown__link" href="#") 2
        li(class="dropdown__item")
            a(class="dropdown__link" href="#") 3