$Dark100: rgb(31,32,65,1);
$Dark75: rgb(31,32,65,0.75);
$Dark50: rgba(31,32,65,0.5);
$Dark25: rgb(31,32,65,0.25);
$Dark10: rgb(31,32,65,0.1);
$Dark5: rgb(31,32,65,0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$grad: linear-gradient(#BC9CFF, #8BA4F9);