div(class="button-block")
    h3(class="font-h3 button-block__label") buttons
    div(class="buttons")
        a(class="button button__filled font-body" href="#") click me
        a(class="button button__filled font-body hovered" href="#") click me
        a(class="button button__bordered font-body" href="#") click me
        a(class="button button__bordered font-body hovered" href="#") click me
    div(class='buttons_txt buttons_txt__margin')
         a(class="button_txt gray-font font-h3" href="#") click me
         a(class="button_txt purple-font font-h3" href="#") click me
    div(class='button_large')
        a(class="button_large__button button button__filled font-body" href="#") перейти к оплате
        p(class="material-icons button_large__arrow") arrow_forward