div(class="rate-block")
    h3(class="font-h3 rate-block__label") rate button
    div(class="rate-buttons")
        div(class="rate-button" id="rate__buton_1")
            div(class='material-icons rate-button__star' id="rate_1") star
            div(class='material-icons rate-button__star' id="rate_2") star
            div(class='material-icons rate-button__star' id="rate_3") star
            div(class='material-icons rate-button__star' id="rate_4") star
            div(class='material-icons rate-button__star' id="rate_5") star_border
        div(class="rate-button" id="rate__button_2")
            div(class='material-icons rate-button__star') star
            div(class='material-icons rate-button__star') star
            div(class='material-icons rate-button__star') star
            div(class='material-icons rate-button__star') star
            div(class='material-icons rate-button__star') star
script
    include rate-button.js