div(class='form-elements wrapper')
    div(class="form-elements__1-column")
        div(class="form-elements__text-field")
            include ../../../common-blocks/text-field/text-field.pug
        div(class="form-elements__text-field_hovered")
            include ../../../common-blocks/text-field/text-field_hovered.pug
        div(class="form-elements__dropdown")
            include ../../../common-blocks/dropdown/dropdown.pug
        div(class="form-elements__text-field_masked")
            include ../../../common-blocks/text-field/_masked/text-field_masked.pug
    div(class="form-elements__2-column")    
        div(class="form-elements__checkbox")
            include ../../../common-blocks/checkbox/checkbox.pug
        div(class="form-elements__radioButton")
            include ../../../common-blocks/radiobutton/radiobutton.pug
        div(class="form-elements__toggle")
            include ../../../common-blocks/toggle/toggle.pug
        div(class="form-elements__like-button")
            include ../../../common-blocks/like-button/like-button.pug
        div(class="form-elements__rate-button")
            include ../../../common-blocks/rate-button/rate-button.pug     
    div(class="form-elements__3-column")
        div(class="form-elements__range-slider")
            include ../../../common-blocks/range-slider/range-slider.pug
        div(class="form-elements__button")
            include ../../../common-blocks/button/button.pug
        div(class="form-elements__paginaton")
            include ../../../common-blocks/pagination/pagination.pug       
    div(class="form-elements__4-column")
        div(class="form-elements__about-aprtmnt")
            include ../../../common-blocks/dropdown/_about-aprtmnt/dropdown.pug
        div(class="form-elements__about-aprtmnt")
            include ../../../common-blocks/dropdown/_about-aprtmnt/_exp/dropdown.pug
    div(class="form-elements__5-column")
        div(class="form-elements__dropdown_exp")
            include ../../../common-blocks/dropdown/_exp/dropdown.pug
    div(class="form-elements__6-column")
        div(class="form-elements__dropdown_exp")
            include ../../../common-blocks/dropdown/_exp/dropdown_valued.pug 
    div(class="form-elements__7-column")
        div(class="form-elements__checkbox_exp_1")
            include ../../../common-blocks/checkbox/_exp/exp-checkbox.pug
        div(class="form-elements__checkbox_exp_2")
            include ../../../common-blocks/checkbox/_exp/_exp/exp-checkbox.pug
    div(class="form-elements__8-column")
        div(class="form-elements__checkbox_reach")
            include ../../../common-blocks/checkbox/_reach/checkbox_reach.pug
    div(class="form-elements__9-column")
    div(class="form-elements__10-column")
        div(class="form-elements__hotel-feature")
            include ../../../common-blocks/hotel-feature/hotel-feature.pug
    div(class="form-elements__11-column")