div(class="review-block")
    img(src="../img/avatar.png" class="review-block__avatar")
    div(class="review-block__info font-body") <span class="span">Мурад Сарафанов</span><br>5 дней назад
    div(class="review-block__like")
        div(class="like active")
            span(class="material-icons like__icon_2") favorite
            p(class="font-body like__font" id="like__count_2") 12
    div(class="review-block__review")
        p(class="font-body") Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.