.colors-type{display: flex;}
.colors-type__colors{margin:145px 0 145px 150px;}
.colors-type__fonts{margin:145px 150px 0 auto;}
.color__h2{
    margin-left:40px;
}

.color{
    display: flex;
    align-items: center;
    height:70px;
    .font-h2{
        line-height: 29px;
    }
    &__margin{margin-bottom: 20px;}
}
.sqr{
    height: 70px;
    width: 70px;
    border-radius: 6px;
}
.drk{
    &-100{background: $Dark100;}
    &-75{background: $Dark75;}
    &-50{background: $Dark50;}
    &-25{background: $Dark25;}
    &-5{background: $Dark5;}
}
.purple{background: $Purple;}
.green{background: $Green;}

.font-block{display:flex;}

.font-block__name{
    color:$Dark25;
    margin-right: 30px;

    &_h1{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        margin-bottom: 81px;
        margin-top:2px

    }
    &_h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        text-align: right;
        margin-bottom: 74px;

    }
    &_h3{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 50px;

    }
    &_body{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: right;

    }
}
.font-block__font-margin{
    margin-bottom:50px;
}
.not-bold{font-weight:normal;}
