div(class="colors-type wrapper")
    div(class="colors-type__colors")
        div(class="color color__margin")
            div(class="sqr drk-100")
            h2(class="color__h2 font-h2") Dark Shade 100%<br><span class="not-bold">#1F2041</span>
        div(class="color color__margin")
            div(class="sqr drk-75")
            h2(class="color__h2 font-h2") Dark Shade 75%<br><span class="not-bold">#1F2041</span>
        div(class="color color__margin")
            div(class="sqr drk-50")
            h2(class="color__h2 font-h2") Dark Shade 50%<br><span class="not-bold">#1F2041</span>
        div(class="color color__margin")
            div(class="sqr drk-25")
            h2(class="color__h2 font-h2") Dark Shade 25%<br><span class="not-bold">#1F2041</span>
        div(class="color color__margin")
            div(class="sqr drk-5")
            h2(class="color__h2 font-h2") Dark Shade 5%<br><span class="not-bold">#1F2041</span>
        div(class="color color__margin")
            div(class="sqr purple")
            h2(class="color__h2 font-h2") Purple<br><span class="not-bold">#BC9CFF</span>
        div(class="color color__margin")
            div(class="sqr green")
            h2(class="color__h2 font-h2") Green<br><span class="not-bold">#6FCF97</span>
    div(class="colors-type__fonts")
        div(class="font-block")
            div(class="font-block__names")
                div(class="font-block__name font-block__name_h1") H1
                div(class="font-block__name font-block__name_h2") H2
                div(class="font-block__name font-block__name_h3") H3
                div(class="font-block__name font-block__name_body") Body
            div(class="font-block__fonts")
                div(class="font-block__font-margin") 
                    H1(class="font-h1") This one is the sub-section or<br> widget title    
                div(class="font-block__font-margin") 
                    H2(class="font-h2") Next one is the item title inside<br> widgets                      
                div(class="font-block__font-margin")
                    H3(class="font-h3") This is a label or CTA text
                div(class="font-body font-block__font-margin")
                    p(class="font-body") This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.