div(class="text-block")
    div(class="text-block__title")
        h3(class="font-h3") text field
        h3(class="font-h3 text-block__right-text") hover/focus
    input(type="text" class="text-field text-field_hover font-body" placeholder="This is pretty awesome")